<link rel="stylesheet" href="./test-block.scss">
<script src="./TestBlock.ts"></script>


<section
  data-component="test-block"
  class="test-block"
  {{#if scrollComponent}}data-scroll-component{{/if}}>
  <h1>test-block</h1>
</section>
